<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="#">{{username}}</a>
<hr>
我的名字是{{username}}
<hr>
我的年级是{{age}}
<hr>
我的生日是{{birthday|date:'Y年 m月 d日' }}
<hr>
我的朋友{{friends}}
<hr>
我一共有{{friends|length}}个朋友
<ul>
    {% for item in friends %}
        <li>{{item}}</li>
    {% endfor%}
</ul>


<hr>
我的女朋友是{{friends.2}}
<hr>
我的工资是{{money}}
<hr>
我2019年的工资是{{money.2019}}
<hr>
{% if age > 20 %}
    <p>你真年轻</p>
{% else %}}
    <p>你要保养了</p>
{% endif %}
<hr>
我的简介是{{desc|safe}}
<hr>
我没有定义的变量{{hjc|default:'hjj'}}

</body>
</html>